<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
<div class="stats">
  <%= link_to 'followings' , followings_user_path(@user)%>
    <strong id="followings" class="stat"></strong>

  <%= link_to 'followers' , followers_user_path(@user)%>
    <strong id="followers" class="stat"></strong>

</section>
  </aside>
  <div class="col-md-8">
    <% if @users.any? %>
      <h3>Followers</h3>
      <ol class="microposts">
        <% @users.each do |user| %>
          <%= gravatar_for user %>
          <span><%= link_to "profile", user %></span>
          <ul class="list-unstyled">
            <li ><%= user.name %></li>
            <li><%= user.area %></li>
            <li><%= user.email %></li>
          </ul>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>